



<div class="container-fluid">

    <div class="row">
        <center><h2>Buscar habitaciones</h2></center>
    </div>
	<div class="row">
		<div class="col-md-3">
        <div >
          <form  >
            <div class="form-group">
              <label for="daterange1" class="control-label">Fechas</label>
              <input ng-disabled="bloquearForm"  date-range-picker id="daterange1" name="daterange1" class="form-control date-picker" type="text"
                      ng-model="date" required/>
            </div>


            <div class="form-group">
              <label for="exampleSelect1">Tipo de Habitacion</label>
              <select ng-disabled="bloquearForm" class="form-control" ng-model="tipoHseleccionado" id="exampleSelect1">
                <option ng-repeat="tipoH in TiposH" value="{{tipoH}}">{{tipoH}} </option>

              </select>
            </div>
            <div class="row"> <div class="form-group">
              <label  for="exampleInputAmount">Presupuesto (en dolares)</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input ng-disabled="bloquearForm" required ng-model="presupuesto" type="text" class="form-control" id="exampleInputAmount" placeholder="Cantidad">

              </div>
            </div></div>
            <br>
            <div class="row">

              <div class="col-md-6">
                <div class=" form-group">
                  <label for="adultos">Total de la Adultos</label>
                  <input ng-disabled="bloquearForm" ng-maxlength="100" class="form-control" type="number" name="aultos" placeholder="Total de adultos" ng-model="datosBusqueda.adultos">


                </div>



                <!--adultos-->

                <div class="form-group">
                  <label for="total">Total </label>
                  <input  ng-disabled="true" ng-maxlength="100" class="form-control" type="number" name="total" placeholder="Total " ng-model="totalHuespedes">
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="ninios">Total de niños</label>
                  <input ng-disabled="bloquearForm" ng-maxlength="100" class="form-control" type="number" name="ninios" placeholder="Total de la niños" ng-model="datosBusqueda.ninios">
                </div>
              </div>

            </div>




            <button ng-disabled="bloquearForm" ng-click="buscarHabitacion(Habitaciones)" class="btn btn-primary">Buscar</button>

          </form>
        </div>


      <button class="btn btn-success" ng-click="nuevaBusqueda()" ng-show="bloquearForm">Nueva Busqueda</button>
	    </div>

	    <div class="col-md-9">

         <div class="container-fluid">
	       <div class="row">
		     <div class="col-md-12">

		       <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Habitación</th>

                  </tr>
                </thead>
            <tbody>
              <tr ng-repeat="habitacion in Habitacionesfiltradas">
                <th>
                  <img src="{{habitacion.foto}}" alt="" width="200" height="200">



                   </th>
                <th> <h3> Ubicado en el Piso {{habitacion.idPiso.id}}</h3>
                  {{habitacion.descripcion}}</th>
                <th> <center><h1>DISPONIBLE POR</h1></center>
                  <center>
                   <h1>{{habitacion.costo | currency}}</h1>
                  </center></th>
                <th>
                  <div class="row"></div>
                  <br><br><br><br><br><br><br>
                  <div class="row">
                    <button class="btn btn-success">RESERVAR YA!</button>
                  </div>
                  <div class="row"></div>

                </th>

              </tr>



            </tbody>
          </table>

		     </div>
	       </div>
          </div>

		</div>

    </div>




</div>
